.button {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 31px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.36px;
  border: none;
  border-radius: 8px;
  color: #FFF;
  background-color: #DA1384;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.button--outlined {
  padding: 0;
  color: #191818;
  font-weight: 600;
  background-color: transparent;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.05);
  }
}

