.form-container {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, white 0%, white 35%, #06C2F1 35%, #06C2F1 100%);
  z-index: -1;

  @media (max-width: 1200px) {
    padding: 15px 0;
  }

  .form {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 16px;
    background-color: #D4E9F9;
    z-index: 1;

    @media (max-width: 1200px) {
      transform: scale(0.8);
      padding: 20px;
    }

    &__title {
      font-size: 36px;
      font-weight: 500;
      line-height: 140%;
    }

    &__description {
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 400;
      line-height: 200%;
      letter-spacing: 0.36px;
    }

    &__label {
      font-weight: 400;
      line-height: 200%;
      letter-spacing: 0.36px;
    }

    &__input,
    &__select,
    &__textarea {
      padding: 18px 20px;
      color: #ABABAB;
      font-family: "Poppins", sans-serif;
      border: none;
      border-radius: 8px;
      background: #FFF;
      font-size: 16px;
      font-weight: 400;
      line-height: 200%;
      letter-spacing: 0.32px;

      &:focus {
        outline: none;
      }
    }

    &__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      color: #464646;
      appearance: none !important;
      background: url("../../assets/icons/arrow-down.svg") no-repeat right 20px center #FFF;
      height: 64px;
    }

    &__textarea {
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      resize: none;
    }

    &__checkbox {
      display: flex;
      gap: 10px;
      margin-bottom: 40px;
      font-size: 12px;
      letter-spacing: -0.24px;
      background: none;

      input {
        accent-color: #191818;
      }
    }
  }

  &__stars {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
