.about {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 60px 130px;

  @media (max-width: 1200px) {
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  &__img {
    border-radius: 16px;
    height: 570px;
    width: 570px;

    @media (max-width: 1200px) {
      height: 360px;
      width: 360px;
    }
  }

  &__container {
    margin-top: 60px;
    max-width: 650px;
    width: 100%;

    @media (max-width: 1200px) {
      justify-content: center;
      align-items: center;
      margin-top: 0;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      &__line {
        background-color: #DA1384;
        border-radius: 8px;
        display: inline-block;
        height: 8px;
        width: 100px;
      }

      &__description {
        font-weight: 700;
        letter-spacing: 0.36px;
        line-height: 170%;
      }
    }

    &__headline {
      font-size: 36px;
      font-weight: 500;
      line-height: 140%;
      margin-top: 10px;
    }

    &__text {
      font-weight: 400;
      letter-spacing: 0.36px;
      line-height: 200%;
      margin: 20px 0;
    }
  }
}