.main {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 80px 130px 60px;
  background-color: #F0F9FF;

  @media (max-width: 1200px) {
    text-align: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }

  .main__content {
    max-width: 560px;
    width: 100%;

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .main__title {
      font-size: 58px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: -1.16px;

      @media (max-width: 1200px) {
        font-size: 42px;
      }
    }

    .main__subtitle {
      margin: 20px 0 40px;
      font-size: 26px;
      font-weight: 500;

      @media (max-width: 1200px) {
        font-size: 18px;;
      }
    }
  }

  .main__image {
    width: 720px;
    height: 380px;
  }
}
