.card {
  max-width: 390px;
  width: 100%;
  height: 420px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 16px;

    @media (max-width: 768px) {
      padding: 30px;
    }
}

.card__image {
  max-width: 310px;
    width: 100%;
  height: 140px;
  border-radius: 8px;
}

.card__title {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.card__description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 170%;
  letter-spacing: 0.32px;
}