.slider {
  &__slide {
    max-width: 720px;
    width: 100%;
  }

  &__buttons {
    display: flex;
    gap: 10px;

    &__buttonPrev {
      cursor: pointer;
      width: 80px;
      height: 32px;
      background-color: inherit;
      background-repeat: no-repeat;
      background-position: center;
      border: 2px solid #34BEEE;
      background-image: url("../../assets/icons/slider-arrow.svg");
    }

    &__buttonNext {
      cursor: pointer;
      width: 80px;
      height: 32px;
      background-color: inherit;
      background-repeat: no-repeat;
      background-position: center;
      border: 2px solid #34BEEE;
      background-image: url("../../assets/icons/slider-arrow.svg");
      transform: rotate(180deg);
    }
  }
}

.buttonDisabled {
  border-color: #D4E9F9;
  color: #D4E9F9;
  cursor: not-allowed;
  background-image: url("../../assets/icons/slider-arrow-dis.svg");
}