.header {
  position: sticky;
  top: 0;
  padding: 15px 130px;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  z-index: 2;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}