.footer {
  padding: 40px 40px 40px 130px;
  display: flex;
  justify-content: space-between;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }

  &__logo {
    width: 170px;
    height: 70px;
  }

  &__contacts {
    display: flex;

    @media (max-width: 1200px) {
        gap: 30px;
        align-items: center;
        margin: 30px 0;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
    }

    &__item {
      margin-left: 80px;
      display: flex;
      align-items: center;
      gap: 10px;
      line-height: 170%;

      @media (max-width: 1200px) {
        margin-left: 0;
      }

      @media (max-width: 768px) {
        text-align: start;
      }

      &__label {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.36px;
      }

      &__circle {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: #06C2F1;
        border-radius: 50%;
      }

      &__value {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.32px;
      }
    }

    &__button {
      margin-left: 30px;
      cursor: pointer;
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 140px;
      background-color: #DA1384;
      background-image: url("../../assets/icons/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease;

      @media (max-width: 1200px) {
        margin-left: 0;
        width: 50px;
        height: 50px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.realization {
  padding: 10px 65px;
  height: 32px;
  background-color: #06C2F1;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.32px;

  &__link {
    color: #FFF;
  }
}