.offers {
  padding: 60px 130px;
  background: url("../../assets/background.png");
  color: #FFF;

  @media (max-width: 1200px) {
    padding: 30px 60px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;

    &__line {
      display: inline-block;
      width: 100px;
      height: 8px;
      background-color: #DA1384;
      border-radius: 8px;
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 170%;
      letter-spacing: 0.36px;
    }
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 500;
    line-height: 140%;

    @media (max-width: 1200px) {
      text-align: center;
      font-size: 26px;
    }
  }

  &__cards {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: #1E2021;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
}